# 应用配置
APP_NAME=nest-prisma-admin
APP_PORT=3000

# PostgreSQL 数据库
# 格式: postgresql://用户名:密码@主机:端口/数据库名
DATABASE_URL=postgresql://postgres:123456@localhost:5432/nest_prisma_admin?schema=public

# Redis
REDIS_HOST=127.0.0.1
REDIS_PORT=6379
REDIS_PASSWORD=
REDIS_DB=0
