# dependencies
node_modules
.pnpm-store

# build
dist
tsconfig.build.tsbuildinfo

# env
.env
.env.*
!.env.example

# logs
logs
*.log

# test
coverage

# prisma
prisma/*.db
prisma/*.db-journal

# os
.DS_Store


/src/generated/prisma

